<section class="login_part section_padding ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <h3 class="text-center register-title">Preencha os dados abaixo para criar sua conta</h3>
                <form class="row contact_form mt-5 register-form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="name" name="name" value=""
                            placeholder="Nome e sobrenome*" required>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="email" class="form-control" id="email" name="email" value=""
                            required placeholder="Digite seu e-mail*">
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="password" class="form-control" id="password" name="password" value="" required
                            placeholder="Digite sua senha*">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="btn_3">
                            Cadastrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>