<main class="mt-60">
    <!-- Category Area Start-->
    <section class="category-area section-padding">
        <div class="container-fluid">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle">
                        <h2>Categorias</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xl-3 col-lg-3">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="assets/img/categori/suvs.jpg" alt="SUVs">
                            <span class="category-shadow"></span>
                            <div class="category-caption">
                                <h2>SUVs</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="assets/img/categori/eletric-cars.jpg" alt="Carros elétricos">
                            <span class="category-shadow"></span>
                            <div class="category-caption">
                                <h2>Carros elétricos</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="assets/img/categori/family-cars.jpg" alt="Carros para família">
                            <span class="category-shadow"></span>
                            <div class="category-caption">
                                <h2>Carros para família</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="assets/img/categori/economic-cars.jpg" alt="Carros econômicos">
                            <span class="category-shadow"></span>
                            <div class="category-caption">
                                <h2>Carros econômicos</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Area End-->
    <!-- Latest Products Start -->
    <section class="latest-product-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <!-- Section Tittle -->
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h2>Últimos carros</h2>
                    </div>
                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-product mb-60">
                                <div class="product-img mb-0">
                                    <img src="assets/img/product/novo-polo.jpg" alt="">
                                </div>
                                <div class="product-caption py-4 px-3 text-left">
                                    <h4 class="fs-15"><a href="#">Novo Polo - 2019</a></h4>
                                    <div class="price mt-5">
                                        <ul>
                                            <li>R$80.000,00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-product mb-60">
                                <div class="product-img mb-0">
                                    <img src="assets/img/product/novo-polo.jpg" alt="">
                                </div>
                                <div class="product-caption py-4 px-3 text-left">
                                    <h4 class="fs-15"><a href="#">Novo Polo - 2019</a></h4>
                                    <div class="price mt-5">
                                        <ul>
                                            <li>R$80.000,00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-product mb-60">
                                <div class="product-img mb-0">
                                    <img src="assets/img/product/novo-polo.jpg" alt="">
                                </div>
                                <div class="product-caption py-4 px-3 text-left">
                                    <h4 class="fs-15"><a href="#">Novo Polo - 2019</a></h4>
                                    <div class="price mt-5">
                                        <ul>
                                            <li>R$80.000,00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-product mb-60">
                                <div class="product-img mb-0">
                                    <img src="assets/img/product/novo-polo.jpg" alt="">
                                </div>
                                <div class="product-caption py-4 px-3 text-left">
                                    <h4 class="fs-15"><a href="#">Novo Polo - 2019</a></h4>
                                    <div class="price mt-5">
                                        <ul>
                                            <li>R$80.000,00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-product mb-60">
                                <div class="product-img mb-0">
                                    <img src="assets/img/product/novo-polo.jpg" alt="">
                                </div>
                                <div class="product-caption py-4 px-3 text-left">
                                    <h4 class="fs-15"><a href="#">Novo Polo - 2019</a></h4>
                                    <div class="price mt-5">
                                        <ul>
                                            <li>R$80.000,00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-product mb-60">
                                <div class="product-img mb-0">
                                    <img src="assets/img/product/novo-polo.jpg" alt="">
                                </div>
                                <div class="product-caption py-4 px-3 text-left">
                                    <h4 class="fs-15"><a href="#">Novo Polo - 2019</a></h4>
                                    <div class="price mt-5">
                                        <ul>
                                            <li>R$80.000,00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!-- Latest Products End -->
    <!-- Best Product Start -->
    <!-- <div class="best-product-area lf-padding" >
        <div class="product-wrapper bg-height" style="background-image: url('assets/img/banner/car-bg.jpg')">
            <div class="container position-relative">
                <div class="row justify-content-between align-items-end">
                    <div class="col-xl-12 col-lg-12">
                        <div class="best-product-caption">
                            <h2>Encontre os melhores carros e<br>Realize o sonho do carro novo</h2>
                            <a href="#" class="black-btn">Procurar agora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->